$gray: #EFF1F7;
$grayishViolet: hsl(257, 7%, 63%);
$veryDarkBlue: hsl(255, 11%, 22%);
$veryDarkViolet: hsl(260, 8%, 14%);
$white: #fff;

$cyan: hsl(180, 66%, 49%);
$hoverBtnCyan: hsl(180, 88%, 59%);
$darkViolet: hsl(257, 27%, 26%);

$backImageShortenDesk: url("./images/bg-shorten-desktop.svg");
$backImageShortenMobile: url("./images/bg-shorten-mobile.svg");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   position: relative;
   top: 0;
   left: 0;
   background-color: white;
   font-size: 18px;
   font-weight: 500;
}
header{
   section{
      padding: 3rem 0rem 0rem 5rem;
      display:flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin-right: -53px;


      .text {
         padding: 0;
         width: 37%;
         h1{
            text-align: left;
            font-size: 73px;
            margin-bottom: 0px;
            line-height: 5.5rem;
         }
         p{
            margin-top: 0px;
            text-align: left;
            color: $grayishViolet;
            margin-bottom: 2rem;
         }
        .btn-gs{
         padding: 0.75rem 3rem;
         width: fit-content;
         background-color: $cyan;
         font-weight: bold;
         font-size: 18px;
         color: white;
         border: none;
         border-radius: 50px
         }
      }
   }   
   nav{
      padding: 3rem 5rem !important;
      display: flex;
      #mobile-menu{
         display: none;
      }
      #desktop-menu{
         flex: 1;
         display:flex;
         justify-content: space-between;
         a{
            text-decoration: none;
            padding: 18px;
            color: $grayishViolet;
            font-weight: bold;
         }
         .menu-item:active {
            color: black;
         }
         .btn-dm{
            padding: 0.75rem 3rem;
            width: fit-content;
            background-color: $cyan;
            font-weight: bold;
            color: white;
            border: none;
            border-radius: 50px;
         }
      }
   }
   margin-bottom: 50px;
}

.section {
   background-color: $gray;
   display: flex;
   flex-direction: column;
   padding: 0rem 5rem 5rem 5rem;
   justify-content: center;

   input {
      font-family: "Poppins";
   }

   input:focus {
      outline: none;
   }

   h1, h2, h3 {
      color: $veryDarkBlue;
      font-weight: 700;
   }

   button:focus {
      outline: none;
   }

   #urlCopy {
      height: 0px;
      border: none;
   }

   .cont-advanced {
      align-self: center;
      width: 40%;
      text-align: center;
      margin-top: 1.5rem;
      margin-bottom: 2.75rem;
   }

   .cont-cards {
      flex: 1;
      align-self: center;
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      padding-bottom: 4rem;
   }

   .card {
      order: 1;
      flex-grow: 1;
      display: flex;
      align-items: center;
      h3 {
         margin-top: 0px;
      }

   }

   .line-cards {
      width: 100px;
      height: 10px;
      background-color: $cyan;
      transform: translateY(1.75rem);
   }

   .line-cards-2 {
      width: 100px;
      height: 10px;
      transform: translateY(-.5rem);
      background-color: $cyan;
   }

   .card-body {
      padding: 0rem 1.75rem 1.75rem 1.75rem;
      border-radius: 4px;
      background-color: $white;
      display: inline-block;

      p {
         color: $grayishViolet;
      }
   }
   
   .card:nth-child(2) {
      transform: translateY(2.5rem);
   }

   .card:nth-child(3) {
      transform: translateY(5rem);
   }

   .card-icon {
      background-color: $veryDarkBlue;
      height: 80px;
      width: 80px;
      display: flex;
      justify-content: center;
      align-content: center;
      border-radius: 40px;
      transform: translateY(-2rem);
      img {
         width: 40px;
         height: 40px;
         align-self: center;
      }
   }
   p {
      font-size: 16px;
   }

   .bg-cyan {
      background-color: $cyan;
   }

   .btn {
      border: none;
      border: none;
      border-radius: 4px;
      margin-left: .75rem;
      font-family: "Poppins";
      flex: 0.1;
      cursor: pointer;
   }

   .text-white {
      color: white;
   }

   .contShorten {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      border-radius: 4px;

      .contOriginalLink {
         padding: 1rem;
         word-wrap: break-word;
      }

      p {
         font-weight: bold;
         font-size: 18px;
      }

      .contControlsLink {
         padding: 1rem;
      }

      .contControlsLink label {
         border: none;
         font-size: 18px;
         padding: 0px;
         color: $cyan;
         text-align: right;
      }

      input::selection {
         background-color: rgba(0,0,0,0);
         color: $cyan;
      }

      button {
         height: 40px;
         width: 100px;
         margin-left: 0;
         margin-left: 1.5rem;
      }
   }

   .bg-white {
      background-color: white;
   }

   .btn-cyan {
      background-color: $cyan;
   }
   .btn-cyan:hover {
      background-color: $hoverBtnCyan;
   }

   .bgCopied {
      background-color: $veryDarkBlue !important;
   }
}

.section-shorten {
   background-color: $veryDarkBlue;
   background-image: $backImageShortenDesk;
   background-size: cover;
   padding: 2.5rem;
   border-radius: 4px;
   display: flex;
   align-items: baseline;
   transform: translateY(-50px);

   div {
      flex: 1;
   }
   input {
      border: none;
      border-radius: 4px;
      padding: .75rem .75rem;
      display: block;
      width: 100%;
      margin-bottom: 10px;
   }

   span {
      font-style: italic;
      color: red;
   }
   button {
      height: 44px;
      font-weight: 500;
   }

}

.invalidInput {
   border: 2px solid red !important;
}

.boost {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 15.5rem;
   background-image: url("images/bg-boost-desktop.svg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-color: $darkViolet;

   h2 {
       margin-top: -.2rem;
       padding-bottom: 1.5rem;
       color: white;
       font-size: 2.4rem;
   }

   button {
       width: 12.5rem;
       height: 3.5rem;
       border-radius: 9in;
       font-size: 1.25rem;
       font-weight: 700;
       color: white;
       outline: none;
       border: none;
       text-decoration: none;
       background-color: $cyan;
       transition: all .3s ease-in-out;

       &:hover {
           background-color: hsl(180, 64%, 69%);
           color: white;
       }
   }
}

footer{
   position: relative;
   width: 100%;
   padding: 4.2rem 11.2vw 3.2rem 11.2vw;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: flex-start;
   background-color: $veryDarkViolet;
   .f_logo{
       position: absolute;left:11.2vw;
   }

   .f_m{
       margin-left: 1rem;
       width:11rem;
       display: flex;
       justify-content: space-between;
       flex-direction: row;
       .m_img{
           width: 30px;
           height: 30px;
           background-image: url("images/icon-facebook.svg");
           background-position: center;
           background-repeat: no-repeat;
           background-size: 100% 100%;
           transition: all .3s ease-in-out;
           &:hover{
               background-image: url("images/icon-facebook-cyan.svg");
           }
           &:nth-child(2){
               background-image: url("images/icon-twitter.svg");
           }
           &:nth-child(2):hover{
               background-image: url("images/icon-twitter-cyan.svg");
           }
           &:nth-child(3){
               background-image: url("images/icon-pinterest.svg");
           }
           &:nth-child(3):hover{
               background-image: url("images/icon-pinterest-cyan.svg");
           }
           &:nth-child(4){
               background-image: url("images/icon-instagram.svg");
           }
           &:nth-child(4):hover{
               background-image: url("images/icon-instagram-cyan.svg");
           }
       }
   }

   .f_c{
       margin-left: 1rem;
       margin-right: 5vw;
       color:white;

       h4{
           font-size: 1rem;
           margin-bottom: 1.2rem;
           font-weight: 700;
       }
       p{
           margin-bottom: .6rem;
           font-size: 1rem;
           transition:all .3s ease-in-out;
           &:hover{
               color:$cyan;
           }
       }
   }
   .f_r{
       margin-left: 1rem;
       margin-right: 6vw;
       color:white;

       h4{
           font-size: 1rem;
           margin-bottom: 1.2rem;
           font-weight: 700;
       }
       p{
           margin-bottom: .6rem;
           font-size: 1rem;
           transition:all .3s ease-in-out;
           &:hover{
               color:$cyan;
           }
       }
   }
   .f_f{
       margin-right: 3.2vw;
       color:white;

       h4{
           font-size: 1rem;
           margin-bottom: 1.2rem;
           font-weight: 700;
       }
       p{
           margin-bottom: .6rem;
           font-size: 1rem;
           transition:all .3s ease-in-out;
           &:hover{
               color:$cyan;
           }
       }
   }
}


@media (max-width: 375px) {

      header{
    font-weight: bold;
    color: white;
    //border: $test_border;

    display: flex;
    flex-wrap: wrap;

    nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 2rem 1rem 1rem 1rem !important;
        
        #desktop-menu{
         display:none;
      }
    }

    .menu-btn{
        width: 23px;
        display: flex;
        button{
           background-color: transparent;
           color: $darkViolet;
           font-size: 23px;
           width: 23px;
           height: 23px;
            border: none;
        }
    }

    #mobile-menu{
        z-index: 999;
        color: white;
        margin-top: 53px;
        border-radius: 10px;
        background-color: $darkViolet;
        position: absolute;
        //display none/flex
        width: 92%;
        display: none;
        flex-direction: column;
        text-align: center;
        a{
            font-weight: bold;
            text-decoration: none;
            color: white;
            border: none;
            padding: 1rem;
        }
        .first-child, .last-child{
            display: flex;
            flex-direction: column;
        }
        .first-child{
            margin-top: 2rem;
        }
        .last-child{
            margin-bottom: 3rem;
        }
        hr{
            margin-left: 10%;
            margin-right: 10%;
            width: 80%;
        }
    }

    section{
        //border: $test_border;
        margin-bottom: 50px;
        padding: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .img-seat{
            /*width: 500px;
            height: 500px;*/
            justify-self: flex-end;

            overflow: hidden;
        }
        .img-seat img{
            width: 128%;
            position: relative;
            left: 50%;
            transform: translateX(-33%);
        }

        .text{
           width: 100%;
           display: flex;
           flex-direction: column;
           justify-content: center !important;
           padding: 1rem !important;
           text-align: center;
            padding: 0;
            color: black;
            .btn-gs{
               border: none;
               background-color: $cyan;
               padding: 1rem;
               color: white;
               display: table;
               margin: 0 auto;
               width: fit-content;
               padding: 1rem 3rem;
               border-radius: 50px;
               font-weight: bold;
            }
            h1{
               text-align: center;
               width: 100%;
               font-size: 3rem;
               line-height: 3.5rem;
            }
            p{
               text-align: center;
            }
        }
    }
   }

   .section {
      padding: 0rem 1rem 2rem 1rem;

      .cont-advanced {
         align-self: center;
         width: 100%;
         text-align: center;
      }

      .cont-cards {
         flex: 1;
         align-self: center;
         display: inline-block;
         justify-content: space-between;
         margin-top: 2rem;
         padding-bottom: 4rem;
      }

      .line-cards {
         width: 10px;
         height: 80px;
         background-color: $cyan;
         transform: translateY(0rem);
         align-self: center;
      }

      .line-cards-2 {
         width: 10px;
         height: 80px;
         transform: translateY(0rem);
         background-color: $cyan;
      }

      .card {
         width: 100%;
         display: flex;
         flex-direction: column;
         text-align: center;
         h3 {
            margin-top: 0px;
            font-family: "Poppins";
         }
         transform: translateY(0rem) !important;

      }

      .card-body {
         padding: 0rem 1.75rem 1.75rem 1.75rem;
         border-radius: 4px;
         background-color: $white;
         display: flex;
         flex-direction: column;
      }

      .card-icon {
         background-color: $veryDarkBlue;
         height: 80px;
         width: 80px;
         display: flex;
         justify-content: center;
         align-self: center;
         border-radius: 40px;
         transform: translateY(-2rem);
         img {
            width: 40px;
            height: 40px;
            align-self: center;
         }
      }
   }

   .section-shorten {
      background-color: $veryDarkBlue;
      background-image: $backImageShortenMobile;
      background-size: cover;
      padding: 1.5rem;
      border-radius: 4px;
      display: inline-block;
      flex-direction: column;
      align-items: baseline;
      transform: translateY(-50px);

      input {
         border: none;
         border-radius: 4px;
         padding: .75rem .75rem;
         font-family: "Poppins";
         flex-grow: 1;
         flex-wrap: wrap;
         margin-bottom: 1rem !important;
         width: 100%;
      }

      span {
         margin-bottom: 1rem;
      }
      button {
         background-color: $cyan;
         color: $white;
         height: 44px !important;
         border: none;
         border-radius: 4px;
         margin-left: 0rem !important;
         font-family: "Poppins";
         flex-grow: 1;
         flex-wrap: wrap;
         width: 100%;
         cursor: pointer;
      }

   }

   footer {

      .f_c,
      .f_f,
      .f_r {
          h4 {
              font-size: 6vw;
          }

          p {
              font-size: 5vw;
          }
      }
  }
    .contShorten {
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: space-between;
       margin-bottom: 1rem;
       border-radius: 4px;

      .contOriginalLink {
         padding: 1rem;
         width: 100%;
         max-width: 100%;
         border-bottom: 1px solid $grayishViolet !important;
      }

      p {
         font-weight: bold;
         font-size: 18px;
      }

      .contControlsLink {
         width: 100%;
         padding: 1rem;
      }

      label {
         border: none;
         font-size: 18px;
         padding: 0px;
         color: $cyan;
         text-align: left !important;
         margin: 0rem 0rem 1rem 0rem;
      }

      button {
         height: 40px;
         width: 100% !important; 
         margin-left: 0px !important;
         margin-top: 0px;
         margin-top: 1rem;
      }
    }
}